.recommend
  height 100%
  width 100%
  background-image: linear-gradient(177deg, #000000 0%, #343038 100%)
  .slider-container
    height 3rem
    .swiper-img
      display block
      width 100%
      height 100%
    .selfColor
      bottom 0
      .swiper-pagination-bullet-active
        background #e2509d
  .album-container
    .title
      display flex
      justify-content center
      align-items center
      font-size 0.35rem
      font-weight 500
      letter-spacing 4px
      color #e2509d
    .album-list
      .album-wrapper
        display flex
        height 1.65rem
        width 100%
        border-bottom  1px solid #512139
        box-sizing border-box
        .left
          flex 0 0 auto
          padding 0.2rem
          img
            width 1.3rem
            height auto
            display block
        .right
          margin-right 0.3rem
          margin-top 0.2rem
          color #cd4f89
          .music-name
            font-size 0.34rem
            letter-spacing 2px
          .singer-name
            font-size 0.27rem
            letter-spacing 2px
          .time
            margin-top 0.1rem
            font-size 0.25rem