html, body
  font-family sans-serif
  height 100%
  width 100%
  #root
    height 100%

/* 通用样式 */

/* 单行文本超出隐藏 */
.beyond-the-hidden
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

/* 清除浮动 */
.clear-float:after
    content ''
    display block
    clear both
    visibility hidden


